.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .card {
    width: 350px; /* Increase the width */
    height: 250px; /* Increase the height */
    border: 1px solid rgba(160, 62, 88, 0.5); /* Set border color with transparency */
    border-radius: 8px;
    padding: 20px; /* Increase the padding */
    margin: 10px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.2); /* Set background color with transparency */
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;
  }

  .card:hover {
    /* Change background color and decrease opacity on hover */
    background-color: rgba(255, 255, 255, 0.7); /* Your desired color with reduced opacity */
    opacity: 0.7;
  }
  
  @media (min-width: 768px) {
    /* Apply flex-direction: row for larger screens */
    .cards-container {
      flex-direction: row;
      justify-content: space-around; /* Adjust as needed */
    }
  }

  h2{
    text-align: center;
}