/*bootstrap import*/
@import '~bootstrap/dist/css/bootstrap.min.css';

/* Apply a modern sans-serif font */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Add a subtle box shadow to give depth */
  body {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Apply a smooth transition for hover effects */
  a, button {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  /* Style links with a modern color scheme and remove underlines */
  a {
    text-decoration: none;
    color: #3498db; /* Blue color, you can customize this */
  }
  
  a:hover {
    background-color: #3498db;
    color: #fff;
  }
  
  /* Create rounded corners for all elements */
  *, *:before, *:after {
    border-radius: 5px; /* Adjust as needed */
  }

  /* Apply a common style to all buttons */
button {
    padding: 8px 16px; /* Adjust padding as needed */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  button:hover {
    background-color: #4682B4; /* Slightly darker blue on hover, you can customize this */
    color: #fff;
  }
  
  

  